body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #fceabb, #f8b500);
  color: #e4ef0ad8;
}
header {
  text-align: center;
  padding: 2rem;
  background-color: #ff8d14;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header h1 {
  margin: 0;
  font-size: 2.5rem;
  animation: fadeInDown 1.5s ease;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}
.menu-item {
  background: #fff;
  border-radius: 12px;
  margin: 1rem;
  padding: 1.5rem;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.menu-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.menu-item img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 1rem;
}
.menu-item h3 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: #ff9900;
}
.menu-item p {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #666;
}
.menu-item .price {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}